.header {
    width: 100vw;
    background-color: var(--inputs);
}

.headerLinks {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid var(--badges);
    padding: 12px;
    width: 374px;
    height: 100px;
    background-color: var(--inputs);
}

.link {
    cursor: pointer;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.headerNav {
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    list-style-type: none;
    font-family: var(--font-family);
    text-align: center;
    color: var(--main);
}

.navigationHome:hover,
.navigationCatalog:hover {
    color: var(--button-hover);
}

.activeLink {
    color: var(--button);
}


@media(min-width:768px) {
    .headerLinks {
        width: 768px;
        height: 72px;
    }

    .logo {
        margin-left: 50px;
    }

    .link {
        font-size: 16px;
        font-weight: 500;
    }
}

@media(min-width:1440px) {
    .headerLinks {
        width: 1440px;
    }


}