.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--badges);
    padding: 24px 64px;
    min-width: 100%;
    height: 72px;
    background-color: var(--inputs);
}


.headerNav {
    margin: 0 auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    list-style-type: none;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

.navigationHome:hover,
.navigationCatalog:hover {
    color: var(--button-hover);
}

.activeLink {
    color: var(--button);
}