.filters {
    float: left;
    width: 290px;
    height: 100vh;
}


/* ------  FILTERS  ------ */

.form {
    width: 100%;
}

.locationBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
    /* width: 290px; */
}

.iconMap {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
    fill: var(--gray);
}

.locationTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.locationValue {
    background-color: var(--inputs);
    border-radius: 12px;
    padding: 18px 18px 18px 50px;
    height: 56px;
    border: none;
    cursor: pointer;
}

.locationCity {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}


.filtersBoxTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

/* EQUIPMENT */

.filtersTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 24px;
    margin-top: 32px;
}

.line {
    color: var(--gray-light);
}

.equipmentGrid,
.typeGrid {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.equipmentCard,
.typeCard {
    border: 1px solid var(--gray-light);
    border-radius: 12px;
    background-color: var(--white);
    width: 86px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.equipmentLabel,
.typeLabel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.active {
    border: 1px solid var(--button);
    border-radius: 12px;
    width: 86px;
    height: 96px;
}

/* ------   TYPE      ------------------------------ */

.typeGrid {
    margin-bottom: 40px;
}


/* --------------------------- */
.btnSearch {
    background-color: var(--button);
    border-radius: 200px;
    border: none;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
}

.btnSearch:hover,
.btnSearch:focus {
    background-color: var(--button-hover);
}

@media (max-width:768px) {
    .btnSearch {
        margin-bottom: 50px;
    }
}

@media (min-width:768px) {
    .filters {
        width: 300px;
    }

    .equipmentCard,
    .typeCard {
        width: 86px;
    }

    .active {
        width: 86px;
    }

}

@media (min-width:1440px) {
    .filters {
        width: 360px;
    }

    .equipmentCard,
    .typeCard {
        width: 112px;
    }

    .active {
        width: 112px;
    }
}