/* .container {
    margin: 48px 64px;
    display: flex;
    gap: 64px;
    width: 1440px;
    background-color: var(--white);
} */

.filters {
    float: left;
    width: 360px;
    height: 100vh;
}

.catalog {
    width: 888px;

}

.btnLoadMore {
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    background-color: var(--white);
    margin-top: 40px;
    cursor: pointer;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
    border: 1px solid var(--button-hover);
}

/* ------  FILTERS  ------ */

.form {
    width: 360px;
}

.locationBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
}

.iconMap {
    position: absolute;
    top: 65%;
    left: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 10;
    fill: var(--gray);
}

.locationTitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.locationValue {
    background-color: var(--inputs);
    border-radius: 12px;
    padding: 18px 18px 18px 50px;
    width: 360px;
    height: 56px;
    border: none;
    cursor: pointer;
}

.locationCity {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--gray);
}

.filtersBoxTitle {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

/* EQUIPMENT */

.filtersTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 24px;
    margin-top: 32px;
}

.line {
    color: var(--gray-light);
}

.equipmentGrid,
.typeGrid {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.equipmentCard,
.typeCard {
    border: 1px solid var(--gray-light);
    border-radius: 12px;
    background-color: var(--white);
    width: 112px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* .equipmentSvg { 
    stroke: var(--main);
    fill: var(--white);

} */



.equipmentLabel,
.typeLabel {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--main);
}

.active {
    border: 1px solid var(--button);
    border-radius: 12px;
    width: 112px;
    height: 96px;
}

/* ------   TYPE      ------------------------------ */

.typeGrid {
    margin-bottom: 40px;
}


/* --------------------------- */
.btnSearch {
    background-color: var(--button);
    border-radius: 200px;
    border: none;
    padding: 16px 60px;
    width: 166px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    cursor: pointer;
}

.btnSearch:hover,
.btnSearch:focus {
    background-color: var(--button-hover);
}