.container {
    display: flex;
    flex-direction: column;

}

.camperList {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.btnLoadMore {
    margin: 0 auto;
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    padding: 16px 32px;
    width: 145px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--main);
    background-color: var(--white);
    margin-top: 40px;
    cursor: pointer;
}

.btnLoadMore:hover,
.btnLoadMore:focus {
    border: 1px solid var(--button-hover);
}