/*  -----  details          */

.container {
    width: 340px;
    margin-top: 12px;
}

.campTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.campRewLocBox {
    display: flex;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--main);
    margin-top: 8px;
}

.metaStat {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.campPrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-top: 16px;
}

.campGallery {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.campImgThumb {
    width: 100%px;
    height: 200px;
}

.campImg {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.campDescr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--text);
    margin-top: 28px;
}

.btnBox {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.btnBoxBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    position: relative;
    padding-bottom: 24px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnBoxBtn::after {
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--button);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.active::after {
    opacity: 1;
    transform: scaleX(1);
}

.infoBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 24px;
    margin-bottom: 40px;
    width: 340px;
}

.containerFeatRev,
.containerBooking {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .container {
        width: 740px;
        margin-top: 24px;
    }

    .campGallery {
        gap: 12px;
        align-items: center;
    }

    .campImgThumb {
        width: 100%;
        height: 300px;
    }

    .btnBox {
        justify-content: space-evenly;
    }

    .infoBox {
        gap: 40px;
        margin-top: 42px;
        margin-bottom: 80px;
        width: 740px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 1312px;
        margin-top: 48px;
    }

    .campGallery {
        flex-direction: row;
        margin-top: 28px;
        gap: 48px;

    }

    .campImgThumb {
        width: 292px;
        height: 312px;
    }

    .btnBox {
        margin-top: 62px;
        gap: 24px;
        justify-content: flex-start;
    }

    .infoBox {
        flex-direction: row;
        width: 1312px;

    }
}