/*  -----  details          */

.container {
    width: 1312px;
    margin-top: 48px;
}

.campTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.campRewLocBox {
    display: flex;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* text-decoration: underline; */
    /* text-decoration-skip-ink: none; */
    color: var(--main);
    margin-top: 8px;
}

.campPrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-top: 16px;
}

.campGallery {
    margin-top: 28px;
    display: flex;
    gap: 48px;

}

.campImgThumb {
    width: 292px;
    height: 312px;
}

.campImg {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.campDescr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    margin-top: 28px;
}

.btnBox {
    margin-top: 62px;
    margin-bottom: 24px;
    display: flex;
    gap: 24px;
}

.btnBox button {
    border: none;
    background-color: inherit;

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
}

.btnBox button:active {
    border-bottom: 2px solid red;
}

.infoBox {
    display: flex;
    gap: 40px;
    margin-top: 42px;
    width: 1312px;
}

.containerFeatRev {
    border-radius: 10px;
    padding: 44px 80px;
    width: 631px;
    height: 588px;
    background-color: var(--inputs);
}

.containerBooking {
    border: 1px solid var(--gray-light);
    border-radius: 10px;
    padding: 44px;
    width: 641px;
    height: 588px;
}