.btnUp {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--gray-light);
    stroke: var(--gray);
    fill: var(--gray);
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.scrollTop {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
}

.scrollTop.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .scrollTop {
        width: 56px;
        height: 56px;
    }
}