.camperItem {
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 8px;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.itemImgThumb {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemImg {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: auto;


}

.itemDescr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.itemTitleBox {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.itemTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.itemPrLikBox {
    display: flex;
    justify-content: space-between;
}

.itemPrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-right: 12px;
}

.itemLike {
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.itemRewLocBox {
    display: flex;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    margin-top: 8px;
    margin-bottom: 8px;
}

.metaStat {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.itemCampDescr {
    width: 100%;
    height: 24px;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    display: none;
}

.itemEquipBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
    margin-bottom: 24px;
}

.itemEquipItem {
    /* border-radius: 100px; */
    border-radius: 16px;
    /* padding: 12px 18px; */
    padding: 10px;
    height: 48px;
    background-color: var(--badges);
    mix-blend-mode: multiply;
}

.btnShowMore {
    background-color: var(--button);
    border-radius: 200px;
    width: 166px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 16px;

}

.btnShowMore:hover,
.btnShowMore:focus {
    background-color: var(--button-hover);
}

@media (min-width:768px) {
    .camperItem {
        padding: 10px;
        width: 420px;
        gap: 10px;
    }

    .itemImgThumb {
        border-radius: 10px;
        width: 100%;
        height: 230px;

    }

    .itemDescr {
        width: 100%;
    }

    .itemTitleBox {
        flex-direction: row;
        justify-content: space-between;

    }

    .itemPrLikBox {
        justify-content: safe;
    }

    .itemEquipItem {
        border-radius: 100px;
        padding: 12px 18px;

    }
}

@media (min-width:1440px) {
    .camperItem {
        padding: 24px;
        flex-direction: row;
        width: 888px;
    }

    .itemImgThumb {
        border-radius: 10px;
        width: 380px;
        height: 322px;
    }

    .itemImg {
        width: auto;
        height: 100%;
        margin-left: -120px;
    }

    .itemDescr {
        width: 524px;


    }

    .itemCampDescr {
        display: block;
    }
}