.camperItem {
    background-color: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
    display: flex;
    gap: 24px;
}

.itemImgThumb {
    border-radius: 10px;
    width: 292px;
    height: 312px;

}

.itemImg {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.itemDescr {
    width: 524px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.itemTitleBox {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.itemTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
}

.itemPrLikBox {
    display: flex;
}

.itemPrice {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--main);
    margin-right: 12px;
}

.itemLike {
    width: 32px;
    height: 32px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
}

.itemRewLocBox {
    display: flex;
    gap: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main);
    margin-top: 8px;
}

.metaStat {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.itemCampDescr {
    width: 100%;
    height: 24px;
    overflow: hidden;
    margin-top: 24px;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
}

.itemEquipBox {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
    margin-bottom: 24px;
}

.itemEquipItem {
    border-radius: 100px;
    padding: 12px 18px;
    /* width: 143px; */
    height: 48px;
    background-color: var(--badges);
    mix-blend-mode: multiply;
}

.itemLink {
    width: 166px;
    height: 56px;
}

.btnShowMore {
    background-color: var(--button);
    border-radius: 200px;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
    border: none;
    cursor: pointer;
}

.btnShowMore:hover,
.btnShowMore:focus {
    background-color: var(--button-hover);
}