.container {
    width: 320px;
    margin-top: 100px;
}

.NotFoundContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    background-color: var(--gray-light);
    border: solid, 2px #d84343;
}

.NotFoundTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.NotFoundImage {
    width: 250px;
    border-radius: 8px;
}

.NotFoundDescr {
    font-size: 28px;
    font-weight: 500;
}

.NotFoundText {
    font-size: 18px;
}

.NotFoundLink {
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.1s ease;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
    border: 1px solid var(--color-deco);
    border-radius: 100px;
    padding: 6px 12px;
    background-color: var(--color-deco);
}

.NotFoundLink:hover {
    background-color: var(--color-deco-dark);
    border: 1px solid var(--color-deco-darker);
    transform: scale(1.03);
}

.NotFoundLink:active {
    background-color: var(--color-deco-darkest);
    border: 1px solid var(--color-deco);
    transform: scale(1.03);
}

@media (min-width:768px) {
    .container {
        width: 660px;
    }

}

@media (min-width:1440px) {
    .container {
        width: 1200px;
    }

}