.container {
    width: 320px;
    margin-top: 100px;
}

.NotFoundContainer {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    background-color: var(--gray-light);
    border: solid, 2px #d84343;


    box-shadow: inset -32px -32px 64px #be3b3b,
        inset 32px 32px 64px #f24b4b;
}

.NotFoundTitle {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.NotFoundImage {
    width: 250px;
    border-radius: 8px;
}

.NotFoundDescr {
    font-size: 28px;
    font-weight: 500;
}

.NotFoundText {
    font-size: 18px;
}

.NotFoundLink {
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.1s ease;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--text);
    border: 1px solid var(--gray);
    border-radius: 100px;
    padding: 6px 12px;
    background-color: var(--gray-light);
}

.NotFoundLink:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--button);
    transform: scale(1.03);
}

.NotFoundLink:active {
    background-color: var(--gray);
    border: 1px solid var(--gray-light);
    transform: scale(1.03);
}

@media (min-width:768px) {
    .container {
        width: 660px;
    }

}

@media (min-width:1440px) {
    .container {
        width: 1200px;
    }

}