.homeContainer {
    width: 374px;
    height: 696px;
}

.home {
    background-image: url('/mainPage/Picture.png');
    background-repeat: no-repeat;
    background-position: top 0 left -720px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 34px;
}

.homeTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    color: var(--inputs);
}

.homeText {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 133%;
    color: var(--inputs);
    margin-top: 16px;
    margin-bottom: 140px;
}

.homeBtn {
    background-color: var(--button);
    border-radius: 200px;
    border: none;
    width: 173px;
    height: 56px;
    cursor: pointer;
}

.homeBtnText {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
}

.homeBtn:hover,
.homeBtn:focus {
    background-color: var(--button-hover);
}

/* --------------------glued footer---------------------------- */
.gluedFooterContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gluedFooterMain {
    flex-grow: 1;
}

/* ////////////////////////// */

@media(min-width:768px) {
    .homeContainer {
        /* width: 1440px; */
        width: 768px;
    }

    .home {
        background-position: top 0 left -520px;
    }

    .homeTitle {
        line-height: 67%;
    }

    .homeText {
        font-size: 24px;
        margin-bottom: 40px;
    }
}

@media(min-width:1440px) {
    .home {
        background-position: top 0 left 0;
    }

    .homeContainer {
        width: 1440px;

    }


}