.homeContainer {
    width: 1440px;
    height: 696px;
}

.home {
    background-image: url('/mainPage/Picture.png');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
}

.homeTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 67%;
    color: var(--inputs);
}

.homeText {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    color: var(--inputs);
    margin-top: 16px;
    margin-bottom: 40px;
}

.homeBtn {
    background-color: var(--button);
    border-radius: 200px;
    /* padding: 16px 60px; */
    width: 173px;
    height: 56px;
}

.homeBtnText {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--white);
}