.detailsWrapper {
    border-radius: 10px;
    padding: 12px 18px;
    width: 100%;
    background-color: var(--inputs);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featuresList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.featureItem {
    border-radius: 100px;
    padding: 12px;
    height: 48px;
    background: var(--badges);
    mix-blend-mode: multiply;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

.detailsTitle {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: var(--main);
    margin-bottom: 24px;
}

.line {
    color: var(--gray-light);
    margin-bottom: 24px;
}

.specsTable {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.specRow {
    display: flex;
    justify-content: space-between;
}

.specLabel,
.specValue {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--main);
}

@media (min-width: 768px) {
    .detailsWrapper {
        width: 631px;
        padding: 22px 24px;
    }

    .featureItem {
        padding: 12px;
        height: 48px;
    }

    .specsTable {
        gap: 16px;
    }


}

@media (min-width: 1440px) {
    .detailsWrapper {
        width: 631px;
        height: 600px;
        padding: 44px 52px;
    }


}