@media (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .btnModal {
        margin: 0 auto;
        border: 1px solid var(--button);
        border-radius: 200px;
        padding: 16px 32px;
        width: 145px;
        height: 56px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: var(--main);
        background-color: var(--white);
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
}